* {
  margin:0;
  border:0;
  padding:0;
  box-sizing:border-box
}

html {
  position:relative;
  min-height:100%
}

h1, h2, h3, h4 {
  font-family:"Abel"
}

ul {
  padding-left:3em;
}

ul, .container p {
  margin-bottom:0.25rem;
  font-size:0.875em
}

kbd {
  font-size:1em
}

footer {
  background-color:#e9ecef
}

div label, [type="checkbox"] {
  vertical-align:middle
}

.small {
  margin-top:0.5rem;
  margin-bottom:0.5rem
}

.form-check {
  padding-left:0
}

/* last (of section) */
.l {
  margin-bottom:1em !important
}

/* very last */
.vl {
  margin-bottom: calc(1em + 2rem) !important
}

.footer {
  margin-bottom:0;
  padding:1.25rem;
  text-align:center;
  overflow:auto
}

#editor, #result {
  width:300px;
  height:200px;
  display:inline-block
}

#editor {
  margin-right:0.5em
}

#input, #result {
  background-color:#272822;
  color: #F8F8F2;
  font:16px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace
}

#input {
  padding:2px;
  outline:none
}

#result {
  margin-left:0.5em;
  padding-left:5px;
  resize:none
}

#run, #disclaimer {
  margin-top:1em
}

@media screen and (max-width:768px) {
  #tryit {
    display:none
  }
  .footer {
    padding:0.75rem
  }
}

@media screen and (max-width:576px) {
  .jumbotron {
    padding:1rem 2rem
  }
}
