:root {
  --kell-gutter-bg:#333;
  --kell-gutter-fg:#aaa;
  --kell-content-bg:#272822;
  --kell-content-fg:#F8F8F2;
  --kell-border:#555
}

* {
  margin:0;
  border:0;
  box-sizing:border-box;
  padding:0
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji", sans-serif;
  line-height:1.4;
  color:#222
}

header {
  padding:3rem;
  background:#eee
}

main {
  margin:auto;
  max-width:1000px;
  padding:2ch
}

h1, h3 {
  font-weight:400;
  font-family:"Abel"
}

h1 {
  font-size:2.25rem
}

h3 {
  margin:1rem 0 0.5rem;
  font-size:1.5rem
}

p, li, label {
  margin-bottom:0.25rem;
  font-size:14px
}

a {
  text-decoration:none;
  color:#0076d1
}

a:hover {
  text-decoration:underline
}

ul {
  padding-left:3em
}

kbd {
  border-radius:4px;
  padding:1px 4px;
  background-color:#272822;
  font-size:14px;
  color:#fff
}

button {
  border:none;
  border-radius:6px;
  padding:10px 20px;
  background:#dedede;
  cursor:pointer;
  font-size:inherit;
  font-family:inherit;
  color:#222;
  outline:none
}

button:focus {
  box-shadow:0 0 0 2px #0098dcab
}

button:active {
  transform:translateY(2px)
}

.btn-dark {
  background:#222;
  color:#fff
}

footer {
  overflow:auto;
  margin-bottom:0;
  padding:1.25rem;
  background:#eee;
  text-align:center;
  color:#666
}

div label, [type="checkbox"] {
  vertical-align:middle
}

.small {
  font-size:13px
}

.form-check {
  padding-left:0
}

.red {
  color:#ff5c57
}

.yellow {
  color:#f3f99d
}

.green {
  color:#5af78e
}

.cyan {
  color:#9aedfe
}

#tryit {
  flex-wrap:wrap;
  display:flex;
  margin:1rem 0;
  width:625px
}

#bytes {
  flex:0 0 100%;
  text-align:left
}

#editor, #result {
  flex:1;
  width:310px;
  height:200px
}

#input, #result {
  background-color:#272822;
  font-size:14px;
  font-family:monospace;
  line-height:18px;
  color: #F8F8F2
}

#input {
  margin-bottom:0.5rem;
  padding:2px;
  outline:none
}

#result {
  overflow-y:auto;
  margin-left:1em;
  padding:8px;
  text-align:left;
  word-break:break-word
}

#result p {
  margin-bottom:0;
  white-space:pre-wrap
}

#run, #permalink {
  margin-top:1em
}

@media screen and (max-width:768px) {
  #tryit, #options {
    display:none
  }
  footer {
    padding:1rem
  }
}

@media screen and (max-width:576px) {
  header {
    padding:1rem 2rem
  }
}
